@use '@shared/styles/variables' as *;

.pageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 70vh; // Центрирует карточку вертикально по экрану лэйаута
  padding: 20px 0;
}

.title {
  font-size: 24px;
  font-weight: 700;
  color: $color-text;
  margin-bottom: 24px;
  letter-spacing: -0.5px;
  text-align: center;
}
